<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Item</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <section>
    <h1>Edit</h1>
    <section>
      <ul>
        <% itemList.forEach(item => { %>
          <% if (item._id == idItem) { %>
          <li>
            <form action="/edit/update/<% item._id%>" method="POST">
              <label for="textInput">Input Text</label>
              <input type="text" name = "textInput" value = "<%= item.textInput %>">
              <label for="numInput">Input Number</label>
              <input type="number" name = "numInput" value = "<%= item.numInput %>">
              <button type="submit">Confirm</button>
              <a href="/">Cancel</a>
            </form>
          </li>
          <% } else { %>
            <li>
              <div><%= item.textInput %></div>
              <div><%= item.numInput %></div>
              <a href="/edit/<%= item._id %>">Edit</a>
              <a href="/edit/delete/<%= item._id %>" class="delete">Cancel</a>
            </li>
            <% } %>
        <% }) %>
      </ul>
    </section>
  </section>
</body>
</html>